




/* NAV */

nav a{
    background-image: url("chrome://global/skin/icons/settings.svg");

    cursor: pointer;
    right: 15px;
    padding: 15px;
    position: fixed;
    top: 15px;
    z-index: 1000;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px;
    opacity: .8;
}

a:hover{
    background-color: rgba(211, 211, 211, 0.253);
    opacity: 1;
}


/* SEARCH */

.search-bar{
    display: flex;
    width: 37%;
    margin: auto;
    margin-top: 65px;
    position: relative;
    overflow: hidden;

}

.search-bar input{
    height: 50px;
    flex-grow: 1;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(71, 71, 71, 0.493);
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.171);
    padding-left: 55px;
    font-size: 1em;
}

.search-bar img{
    position: absolute;
    width: 30px;
    left: 15px;
    top: 12px;

}

.search-bar button{
    background: url(chrome://browser/skin/forward.svg) no-repeat center center;
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0px;
    opacity: .5;
    border: none;

}

.search-bar button:hover{
    background-color:rgb(177, 176, 176)
}


